<h1>Word Search</h1>

<form action="/result" method="post">
  <label>Enter Sentence: </label>
  <input type="text" name="user-sentence" value=""> <br>
  <label>Word to search for: </label>
  <input type="text" name="user-word" value=""> <br>
  <button type="submit" name="button">Search</button>
</form>
